body {
    margin: 0;
    font-family: Arial, sans-serif; /* Ejemplo de familia de fuentes */
    display: grid; /* Utilizando CSS Grid para el diseño del cuerpo */
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: #333; /* Ejemplo de esquema de color */
    color: white;
    padding: 20px;
}

nav {
    grid-area: nav;
    background-color: #555; /* Ejemplo de esquema de color */
    color: white;
    padding: 20px;
    display: flex; /* Utilizando CSS Flex para el menú de navegación */
}

nav ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 50px;
}

main {
    grid-area: main;
    padding: 0px;
    display: flex;
    margin: 0;
}

main div{
  padding: 25%;
}

aside {
    background-color: #eee; /* Ejemplo de esquema de color */
    padding: 18%;
    margin: 0%;
}

footer {
    grid-area: footer;
    background-color: #333; /* Ejemplo de esquema de color */
    color: white;
    padding: 20px;
    text-align: center;
}